.btn
{
    height: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 2s;
    outline: none;
    border: none;
}
*::selection
{
    background-color: lightgreen;
    color: darkblue;
}
.btn:hover
{
    transition: background-color 2s;
}
#btn1
{
    background-color: lightgreen;
}
#btn1:hover
{
    background-color: darkgreen;
}
#btn2
{
    background-color: lightblue;
}
#btn2:hover
{
    background-color: darkblue;
}
#btn3
{
    background-color: red;
}
#btn3:hover
{
    background-color: orange;
}
